*.pyc
*.bm
*.cl
*.cm
*.mp
*.dat
mcmc_runs
# mcmc_results
gridsearch_runs
gridsearch_results
disk_model
data
*.pyc
__init__.py
.nfs*
.DS_Store
._*
.gitignore
.remote-sync.json
__init__.py
*.pdf
*.fits
*.png
plt_xkcd.py
*rsync*
test*
*.last
*.log
